<app-day2-task></app-day2-task>

<!-- <div class="container">
  <h1 class="bg-danger">{{flag}}</h1>
  <h1 class="bg-warning">{{flag}}</h1>
  <button [disabled]="flag" class="btn btn-info">property binding</button>
  <button disabled="{{!flag}}" class="btn btn-info">data interpolation</button>
  <button (click)="onclickBtn()"  class="btn btn-info">event binding &#64;</button>
  <form class="form py-3" >
    <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="nameInput" >
    <p>{{nameInput}}</p>
    </div>
  </form>

  <button class="btn btn-info" *ngIf="numId==0;else btn2" (click)="changeNunIdTo1()">add</button>
  <ng-template #btn2>
    <button class="btn btn-info"  (click)="changeNunIdTo0()">edit</button>
  </ng-template>

@if(flag){
<h1>flag is true</h1>
}@else {
<h1>flag is false</h1>
}
</div> -->

