<footer class="bg-dark text-white pt-4">
  <div class="container">
    <div class="row">
      <!-- About Section -->
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>We are a company committed to providing the best products and services to our customers.</p>
      </div>
      <!-- Links Section -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Home</a></li>
          <li><a href="#" class="text-white text-decoration-none">About</a></li>
          <li><a href="#" class="text-white text-decoration-none">Services</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <!-- Contact Section -->
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address>
          1234 Street Name<br>
          City, State, 12345<br>
          Email: <a href="mailto:info@yourcompany.com" class="text-white text-decoration-none">info&reg;yourcompany.com</a><br>
          Phone: (123) 456-7890
        </address>
        <!-- Social Media Icons -->
        <div>
          <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white me-2"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center pb-3">
      &copy; 2024 Your Company. All Rights Reserved.
    </div>
  </div>
</footer>
